.btn {
    background-color: #282828;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 13px;
}

.btn.squre {
    border-radius: 50%;
    font-size: 24px;
    height: 50px;
    width: 50px;
}
