.navbar-container {
    background-color: #ff5000;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    opacity: 1;
    padding: 60px;
    position: fixed;
    right: 0;
    width: 510px;
    z-index: 999;
}

.hidden {
    display: none;
    opacity: 0;
}

.navbar-menu {
    display: flex;
    right: 30px;
    position: absolute;
    top: 30px;
    z-index: 9999;
}

.navbar-inner-links,
.navbar-legal-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .navbar-container {
    color: white;
    font-size: 28px;
}
.navbar .font-sans:hover {
    color: #282828 !important;
}

.navbar-contact,
.navbar .navbar-item .font-sans {
    color: #fff;
}

.show-botton {
    display: inline-block;
    opacity: 1;
}

.show-botton > .rotated {
    transform: rotate(45deg);
    transition: all 0.5s ease;
}

@media screen and (max-width: 550px) {
    .show-botton {
        display: none;
        opacity: 0;
    }
}
