.partners-section__container .container__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.partners-section__container .list__item {
    margin-bottom: 124px;
    margin-right: 10px;
    text-align: center;
    width: calc(100% / 3 - 20px);
}
.partners-section__container .list__item:nth-child(3n) {
    margin-right: 0;
}

.partners-section__container .item__image {
    height: 110px;
    margin: 0 auto;
    width: auto;
}
