.footer {
    background-color: #282828;
    color: white;
    display: block;
    padding: 50px 0 112px;
}

.footer .container {
    display: flex;
}

.footer .container > div {
    margin-right: 26px;
    width: calc(33% - 26px);
}
.footer .container > div:last-child {
    margin-right: 0;
}

.footer p {
    display: block;
}

.footer__link {
    color: white;
    display: block;
}