* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
a:hover {
    color: #ff5000 !important;
}

.font-sans {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.font-mono {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

.container {
    display: block;
    margin: 0 auto;
    width: 1240px;
}

@media screen and (max-width: 950px) {
    .container {
        width: 90%;
    }
}