* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.top-logo {
    color: #282828;
    font-size: 28px;
    left: 40px;
    position: absolute;
    top: 34px;
}

a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #ff5000 !important;
}

.font-sans {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}

.font-mono {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

.container {
    display: block;
    margin: 0 auto;
    width: 1240px;
}

.data-privacy__container,
.impressum__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 224px;
}

.data-privacy__container h1,
.impressum__container h1 {
    font-size: 16px;
    margin-bottom: 72px;
}

.data-privacy__container > div,
.impressum__container > div {
    margin-right: 98px;
    width: 50%;
}

.data-privacy__container > div:last-child,
.impressum__container > div:last-child {
    margin: 0;
}

.data-privacy__container p,
.impressum__container p {
    display: block;
    margin-bottom: 44px;
}

.data-privacy__container h2,
.impressum__container h2 {
    display: block;
    font-size: 16px;
    margin-bottom: 24px;
}

p.impressum__intro {
    margin-bottom: 68px;
}

@media screen and (max-width: 1239px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
    }

}